#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.darkMode {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.lightMode{
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}